
.header {
    display: flex;
    background-color: aqua;
    align-items: center;
}


.title {
    margin-left: 30px;
}

.recipes-menu {
    display: flex;
    list-style-type: none;
}

.recipes-menu-item, .link-to-homepage {
    margin: 10px 5px;
    padding: 20px 30px;
    background-color: orange;
}

.link-to-homepage {
    margin: 25px;
    margin-left: 40px;
}